.passreset__body {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin: 0 1rem;
}

.passreset__container {
    background: #fff;
    max-width: 500px;
    width: 500px;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.6);
}

.passreset__container form .title {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.passreset__container form .input-box {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.passreset__container form .input-box input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}

.passreset__container form .underline::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}

.passreset__container form .underline::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #eee 0%, #000 100%);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.passreset__container form .input-box input:focus~.underline::after,
.passreset__container form .input-box input:valid~.underline::after {
    transform: scaleX(1);
    transform-origin: left;
}

.passreset__container form .button {
    margin: 40px 0 20px 0;
}

.passreset__container .input-box input[type="submit"] {
    background: linear-gradient(to right, #48a9e6 0%, #48a9e6 100%);
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.passreset__container .input-box input[type="submit"]:hover {
    letter-spacing: 0.2px;
    background: linear-gradient(to left, #51BBFE 0%, #51BBFE 100%);
}

.passreset__container .option {
    font-size: 14px;
    text-align: center;
}

/* #### Error Message #### */
.passreset__error-message-on {
    margin-top: 1rem;
    text-align: left;
    font-size: 0.75rem;
    display: inline-block;
    color: rgb(220, 0, 0);
}

.passreset__error-message-off {
    display: none;
}